.cart-items-heading h1,
p {
    text-align: center;
}

.cart-items-heading p {
    color: #0c0c0ca3;
    margin-top: 8px;
}

.cart-items-heading h1 {
    margin: 0 0 4px 0;
    font-size: 1.3em;
    font-weight: 500;
}

.cart-items {
    display: flex;
    margin: 0 5%;
}

.cart-items>div img {
    width: 100%;
}

.cross-icon {
    width: 18px;
    padding-top: 24px;
}

.cart-items>.tshirt-image {
    height: 72px;
    width: 72px;
}

.item-name {
    margin-left: 17px;
    padding-top: 27px;
}

.cart-items>div select {
    border: none;
    background: 0;
    color: #000000ab;
    outline: none;
}

.cart-items .quantity {
    padding-top: 24px;
}

.size {
    padding-top: 9px;
}

.amount {
    padding-top: 24px;
}

.detailed-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 24px;
    color: #0808089c;
}

.checkout-box>div button {
    background: white;
    border: 2px solid;
    padding: 8px 44px;
}

.checkout-box>div {
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 60px;
}

.cart-footer {
    margin-top: 226px;
}

.cart-items-heading {
    margin-top: 64px;
}

.checkout-box>div span {
    margin: 0 64px 0 24px;
}

.main-page-section-cart {
    max-width: 900px;
    margin: 0 auto;
}

.checkout-box-mid-screen {
    display: none;
}

.cart-footer {
    display: none;
}

@media (max-width: 770px) {
    .cart-items-heading {
        margin-top: 0;
    }

    .checkout-box button {
        display: none;
    }

    .checkout-box>div span {
        margin: 0 -22px 0 24px;
    }

    .checkout-box-mid-screen {
        width: 100%;
        height: 64px;
        display: block;
        position: fixed;
        bottom: 0;
    }

    .checkout-box-mid-screen button {
        width: 100%;
        height: 100%;
        background-color: #232373;
    }

    .checkout-box-mid-screen button a {
        color: #ffff;
    }
}