.cover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-image-bottom img {
    float: left;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.cart-icon {
    width: 30px;
    height: 30px;
}

.cart-icon img {
    width: 100%;
}

.cover-image {
    width: 100%;
    height: 240px;
}

a {
    text-decoration: none;
    color: black;
}

nav>div {
    margin: 10px;
}

.shop-now {
    border: 2px solid black;
    width: 168px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #202020;
}

.mens-outerwear,
.ladies-outerwear {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 27px
}

.mens-outerwear h2,
.ladies-outerwear h2,
.tshirts h2 {
    margin: 24px 0;
    text-align: center;
}

h2 {
    color: #202020;
    font-weight: lighter;
    font-size: 122%;
}

.tshirt-images {
    display: flex;
    flex-direction: row;
}

.bottom-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}