.no-of-items {
    margin-top: 0;
    font-size: 85%;
    color: #080808b5;
}

.select-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding: 0px 20px;
}

.select-tshirt>div img {
    width: 100%;
}

.select-tshirt>div p {
    text-align: center;
    font-weight: 600;
}

.select-tshirt>div>.price {
    text-align: center;
    font-weight: 100;
    font-size: 85%;
    color: #000000bd;
}

.cart-items-heading h1,
p {
    text-align: center;
}

.mens-outerwear h2 {
    margin: 24px 0;
    text-align: center;
    color: #202020;
    font-weight: lighter;
    font-size: 122%;
}

.image-cover-mens-outerwear {
    width: 100%;
    height: 240px;
}

.image-cover-mens-outerwear img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 770px) {
    .image-cover-mens-outerwear {
        display: none;
    }

    .select-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        padding: 0px 20px;
    }
}