.menu-img img{
display: none;
}
.heading{
    display: flex;
    height: 38px;
}
.heading>div a{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: var(--app-primary-color);
    text-decoration: none;
    display: inline-block;
    pointer-events: auto;

} 
header{
    margin-top: 25px;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.menu-img img {
    width: 30px;
}

.empty {
    width: 10px;
    height: 10px;
}

.cart-icon {
    width: 3%;
    margin-top: -7px;
}

.cart-icon img {
    width: 100%;
}

.mens-outerwear-img img {
    width: 100%;
}

.ladies-outerwear-img img {
    width: 100%;
}

.tshirts img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: center;
}

nav>div {
    margin: 10px;
}

.shop-now {
    border: solid black;
}

.shop-now {
    border: 2px solid black;
    width: 168px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #202020;
    /* margin: 0 38%; */
    
}
.mens-outerwear, .ladies-outerwear{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 27px
}
h2{
    color: #202020;
    font-weight: lighter;
    font-size: 122%;
}
.tshirt-images{
    display: flex;
    flex-direction: row;
}
.tshirt-images >div img{
    opacity: 1;
    transition: opacity 0.5s ease 0s;

}
.bottom-buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div{
    background: #202020;
color: aliceblue;
margin-top: 10px;
padding: 0px 18px;
}
footer a{
    color: #0000008f;
}
/*mens_outerwear */
.text{
    margin-top: 0;
    font-size: 85%;
    color: #080808b5;
}
.mens-outerwear>div h2{
    margin-bottom: 0;
}
.select-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:2em;
    padding: 0px 20px;
}
.select-tshirt>div img{
    width: 100%;
}
.select-tshirt>div p{
    text-align: center;
    font-weight: 600;
}
.select-tshirt>div>.price{
    text-align: center;
    font-weight: 100;
    font-size: 85%;
    color: #000000bd;
}
/*end of mens_outerwear*/

/* product*/
.product-section {
display: flex;
justify-content: center;
}
.product-section select{
width: 100%;
height: 50px;
background-color: white;
border-left: none;
border-right: none;
padding: 0px 70px;
font-size: 18px;
outline: none;
}
.product-img img{
    width: 100%;
}
.product-footer{
    margin-top: 30%;
}
.no-of-items{
    border-top: none;
}
.product-section div{
    width: 50%;
}
.add-to-cart-button {
    border: 2px solid black;
    padding: 6.5px 37px;
}
.product-section{
    margin-top: 54px;
}
.product-section .drop-down{
    width: 90%;
}
.product-section>div> h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
}
.product-section p{
    color: #000000b3;
}
.drop-down button{
    border: 2px solid #000;
    background-color: #FFF;
    font-size: 14px;
   
    padding: 8px 44px;
       text-decoration: none;
}
.product-section label{
    position: absolute;
    margin-top: 13px;
    color: #000000c4;
}

/*end of product*/
.cart-items-heading h1,p{
   text-align: center;
}
.cart-items{
    display: flex;
    padding: 0 24px 48px 24px;
    justify-content: space-between;
}
.cart-items>div img{
    width: 100%;
}
.cross-icon{
    width: 18px;
    padding-top: 24px;
  
}
.cart-items>.tshirt-image{
    height: 72px;
    width: 72px;
}
.item-name{
    margin-left: 17px;
    padding-top: 27px;
}
.cart-items>div select{
    border: none;
    background: 0;
    color: #000000ab;
    outline: none;
}
.cart-items .quantity{
    padding-top: 24px;
}
.size{
    padding-top: 9px;
}
.amount{
    padding-top: 24px;
}

